name: Flutter Lint

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/workflows/reusable/setup-flutter.yml

      - name: Melos bootstrap
        run: melos bootstrap

      - name: Dart format check
        run: melos run format:check
