name: Flutter Test & Coverage
on:
  workflow_call:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/setup-flutter/
      - run: dart pub global activate coverage
      - run: melos bootstrap
      - run: melos run test:coverage

      - name: Collect coverage
        run: |
          dart pub global run coverage:collect --in=**/coverage/lcov.info --out=coverage/lcov.info --wait-paused || true
          dart pub global run coverage:format --html --in=coverage/lcov.info --out=coverage/html --report-on=lib || echo "No coverage"

      - uses: actions/upload-artifact@v4
        with:
          name: flutter-coverage-html
          path: coverage/html
