name: Flutter Test & Coverage

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/workflows/reusable/setup-flutter.yml
      - name: Activate coverage tool
        run: dart pub global activate coverage

      - name: Melos bootstrap
        run: melos bootstrap

      - name: Run tests with coverage
        run: |
          melos run test:coverage

      - name: Collect & format coverage
        run: |
          dart pub global run coverage:collect \
            --in=**/coverage/lcov.info \
            --out=coverage/lcov.info \
            --wait-paused || true

          dart pub global run coverage:format \
            --html --in=coverage/lcov.info --out=coverage/html \
            --report-on=lib || echo "No coverage"

      - name: Upload coverage HTML as artifact
        uses: actions/upload-artifact@v4
        with:
          name: flutter-coverage-html
          path: coverage/html
