name: "Check: Flutter Analyze"

on:
  workflow_call:

permissions:
  contents: read

jobs:
  analyze:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-flutter/
        id: setup

      - name: Analyze
        if: steps.setup.outputs.installed == 'true'
        run: melos run analyze:all
