name: Flutter Lint

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6.0.1

      - uses: ./.github/actions/setup-flutter/
        id: setup

      - name: Check Formatting
        if: steps.setup.outputs.installed == 'true'
        run: melos run format:check
