name: Go Test & Coverage

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/setup-go/

      - name: Check Go Module Consistency
        run: |
          cd services/api
          go mod tidy
          git diff --exit-code go.mod go.sum

      - name: Run Tests with Race Detector
        run: |
          go test ./... -race -coverprofile=coverage.txt -covermode=atomic

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./services/api/coverage.txt
          fail_ci_if_error: true
          verbose: true
